*{
  margin: 0;
  padding: 0;

}
#logo{
margin-top: 10px;
padding-left: 20px;
color: #8b9eb7;
}
nav{
  height: 60px;
  background-color: #632a50;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
}
nav div p{
  color: #8b9eb7;
  margin-top: 10px;
  font-size: 20px;
  padding-left: 40%;
  margin-top: 0px;
}
.navpara{
  position: absolute;
  font-size: 16px;
  right: 10px;
  top: 15px;
}
.card{
background-color: rgb(39, 85, 126);
height: 350px;
width: 250px;
margin: 20px;
border-radius: 10px;
box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
color: white;
}
img{
  width: 100%;
  height: 50%;
  border-radius: 10px;

}
.dog_name{
  font-size: 20px;
}
#cag{
  display: flex;
  justify-content: center;
} 
.main-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
}
main{
  padding-top: 60px;
}
footer{
  height: 200px;
  background-color:black;
  margin-top: 20px;
  color: whitesmoke;
  display: flex;
  justify-content: center; 
}
#conclusion{
  text-align: center;
  margin-top: 30px;
  position: relative;
  left: 50%;
  color: white;
}
.i{
  justify-self: center;
  font-size: 30px;
  color: aliceblue;
  margin-left: 10px;
  align-self: center;
}

#search{
  background-color: #8b9eb7;
  margin-left: 46%;
  display:inline-block;
  justify-content: center;
  text-decoration: none;
  border: 2px solid black;
  color: rgb(0, 60, 255);
  font-size: 30px;
  border-radius: 15px;
}
@media screen {
  
}