*{
  margin: 0;
  padding: 0;

}
#logo{
margin-top: 10px;
padding-left: 20px;
color: #8b9eb7;
}
nav{
  height: 65px;
  background-color: #632a50;
  color: rgb(255, 255, 255);
  display: flex;
  
}
nav div p{
  color: #8b9eb7;
  margin-top: 10px;
  font-size: 20px;
  padding-left: 40%;
  margin-top: 0px;
}
.navpara{
  position: absolute;
  font-size: 16px;
  right: 10px;
  top: 15px;
}
.card{
background-color: rgb(39, 85, 126);
height: 313px;
width: 250px;
margin: 20px;
border-radius: 10px;
box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
color: white;
}
img{
  width: 100%;
  height: 50%;
  border-radius: 10px;

}
.dog_name{
  font-size: 20px;
}
#cag{
  display: flex;
  justify-content: center;
} 
.main-content{
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
}
